body {
    background: linear-gradient(to left, rgb(23, 42, 73), rgb(20, 25, 36));
    min-height: 100vh;
    margin: 0;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        min-width: 100%;
    }
}

footer {
    background: linear-gradient(to right, #2c3e50, #3972d5);
    color: #fff;
    padding: 10px 0 10px;
    margin-top: 1000px;
}

.footer-bottom {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 30px;
}

